.inspection__move {
    width: 1920px;
    height: 1080px;
    left: 0;
    top: 0;
    background-color: black;
    align-items: center;
}
.inspection__title {
    width: 100%;
    position: absolute;
    margin-top: 50px;
    align-items: center;
    color: white;
    font-size: 80px;
}
.inspection__service__default {
    width: 1920px;
    height: 1080px;
    left: 0px;
    top: 0px;
    align-items: center;
    font-family: "Roboto";
    font-weight: 600;
    background-image: url("./images/bg-blue.png");
}
.inspection__service {
    width: 1920px;
    height: 1080px;
    left: 0px;
    top: 0px;
    align-items: center;
    font-family: "Roboto";
    font-weight: 600;
    background-image: url("./images/bg-red.png");
}
.inspection__main__top {
    align-items: center;
    font-size: 80px;
    justify-content: center;
    display: flex;
    height: 20%;
}
.inspection__main__bottom {
    height: 80%;
    display: flex;
}
.inspection__main__bottom__left__default {
    padding-left: 30px;
    padding-bottom: 20px;
    flex-direction: column;
    display: flex;
    width: 10%;
    justify-content: space-around;
}
.inspection__main__bottom__left {
    padding-left: 30px;
    padding-bottom: 20px;
    flex-direction: column;
    display: flex;
    width: 40%;
    justify-content: space-around;
}