.quarantine__move {
    width: 1920px;
    height: 1080px;
    left: 0;
    top: 0;
    background-color: black;
    align-items: center;
}
.quarantine__title {
    width: 100%;
    position: absolute;
    margin-top: 40px;
    align-items: center;
    color: white;
    font-family: 'BMHANNAPro';
    font-size: 80px;
}
.quarantine__title__sub {
    width: 100%;
    position: absolute;
    margin-top: 140px;
    align-items: center;
    color: white;
    font-family: 'BMHANNAPro';
    font-size: 50px;
}
.quarantine__service {
    width: 1920px;
    height: 1080px;
}