<html ng-app="RobotUI">
    <head>
        <title>RobotUI Face</title>
    </head>
    <body data-ng-controller="BodyCtrl">
        <div id="inspecting_mv" ng-show="inspect_state == 'moving'">
            <div class="title_text_style" id="title">{{getLang("TEXT/MOVE/MOVE_TITLE")}}</div>
            <div class="title_sub_text_style" id="title_sub">{{getLang("TEXT/MOVE/MOVE_SUB_TITLE")}}</div>
            <div id="inspecting_mv_lottie"></div>
        </div>
        <div
            id="inspecting"
            ng-show="inspect_state != 'moving'"
            ng-class="{'background_red' : inspect_state != 'inspecting', 'background_blue' : inspect_state == 'inspecting'}">
            <div class="main_menu_top" ng-show="inspect_state == 'inspecting'">
                <div class="title_text_style2" id="title">{{getLang("TEXT/INSPECT/INSPECTING_TITLE")}}</div>
            </div>
            <div class="main_menu_top" ng-show="inspect_state == 'temperature'">
                <div class="title_text_style2" id="title">Fever over
                    {{fever_degrees}}
                    °C</div>
            </div>
            <div class="main_menu_top" ng-show="inspect_state == 'mask'">
                <div class="title_text_style2" id="title">{{getLang("TEXT/INSPECT/MASK_SUB_TITLE")}}</div>
            </div>
            <div class="main_menu_top" ng-show="inspect_state == 'distance'">
                <div class="title_text_style2" id="title">{{getLang("TEXT/INSPECT/DISTANCE_SUB_TITLE")}}</div>
            </div>
            <div class="main_menu_bottom">
                <div class="bottom_left" ng-show="inspect_state == 'inspecting'">
                    <div class="img_items"><img id="mask_img" src="./contents/img/inspection/medical-mask.png"/><img id="distance_img" src="./contents/img/inspection/physical_distancing.png"/><img id="quarantine_img" src="./contents/img/inspection/quarantine.png"/></div>
                    <div class="text_items">
                        <div class="title_sub_text_style2">{{getLang("TEXT/INSPECTING/MASK_IMAGE")}}</div>
                        <div class="title_sub_text_style2">{{getLang("TEXT/INSPECTING/DISTANCE_IMAGE")}}</div>
                        <div class="title_sub_text_style2">{{getLang("TEXT/INSPECTING/QUARANTINE_IMAGE")}}</div>
                    </div>
                </div>
                <div class="bottom_left2" ng-show="inspect_state == 'temperature'"><img
                    id="alert_mask_img"
                    src="./contents/img/inspection/wa_prev-alert-fever.png"/>
                    <div class="title_sub_text_style3">{{getLang("TEXT/INSPECT/TEMPERATURE_TITLE")}}</div>
                </div>
                <div class="bottom_left2" ng-show="inspect_state == 'mask'"><img
                    id="alert_fever_img"
                    src="./contents/img/inspection/wa_prev-alert-mask.png"/>
                    <div class="title_sub_text_style3">{{getLang("TEXT/INSPECT/MASK_TITLE")}}</div>
                </div>
                <div class="bottom_left2" ng-show="inspect_state == 'distance'"><img
                    id="alert_distance_img"
                    src="./contents/img/inspection/wa_prev-alert-distance.png"/>
                    <div class="title_sub_text_style3">{{getLang("TEXT/INSPECT/DISTANCE_TITLE")}}</div>
                </div>
                <div class="bottom_right" ng-show="image_result == 'live'">
                    <canvas id="canvas" style="width : 1280px; height: 720px;"></canvas>
                    <div class="title_sub_text_style4">Service end time:
                    {{end_time}}
                </div>
            </div>
            <div class="bottom_right" ng-show="image_result == 'snapshot'"><img
                id="temperature_result_image"
                ng-show="inspect_state == 'temperature'"
                style="width : 1280px; height: 720px;"/>
                <canvas
                    id="temperature_result_canvas"
                    ng-show="inspect_state == 'temperature'"
                    style="width : 1280px; height: 720px;"></canvas><img
                    id="mask_result_image"
                    ng-show="inspect_state == 'mask'"
                    style="width : 1280px; height: 720px; z-index: 1"/>
                <canvas
                    id="mask_result_canvas"
                    ng-show="inspect_state == 'mask'"
                    style="width : 1280px; height: 720px; z-index: 2"></canvas><img
                    id="distance_result_image"
                    ng-show="inspect_state == 'distance'"
                    style="width : 1280px; height: 720px;"/>
                <canvas
                    id="distance_result_canvas"
                    ng-show="inspect_state == 'distance'"
                    style="width : 1280px; height: 720px;"></canvas>
                <div class="title_sub_text_style4">Service end time:
                {{end_time}}
            </div>
        </div>
    </div>
</div>
</body>
</html>