<html ng-app="RobotUI">
    <head>
        <title>RobotUI Console</title>
    </head>
    <body data-ng-controller="BodyCtrl">
        <div class="abs" id="timetime">{{cur_time}}</div>
        <div class="abs" id="robot_tag">로봇
            <b>{{robot_name}}</b>
            {{service_mode_name}}</div>
        <div class="abs" id="demo-secure" ng-show="view_mode=='secure'">
            <div class="secure_top_text font_bold">{{getLang("TEXT/CONSOLE/LOGIN_TITLE")}}</div>
            <div style="text-align: center"><input id="secure_password" type="password"/></div>
            <div class="demo-key_ct flex">
                <div class="demo-key">1</div>
                <div class="demo-key">2</div>
                <div class="demo-key">3</div>
                <div class="demo-key demo-key_clear">CLR</div>
            </div>
            <div class="demo-key_ct flex">
                <div class="demo-key">4</div>
                <div class="demo-key">5</div>
                <div class="demo-key">6</div>
                <div class="demo-key">0</div>
            </div>
            <div class="demo-key_ct flex">
                <div class="demo-key">7</div>
                <div class="demo-key">8</div>
                <div class="demo-key">9</div>
                <div class="demo-key demo-key_enter">Enter</div>
            </div>
        </div>
        <div class="input_popup abs" ng-show="show_keyboard_operating">
            <div class="secure_top_text font_bold">{{getLang("TEXT/CONSOLE/SERVICE_TIME_SETTING_TITLE")}}</div>
            <div
                class="top_close abs"
                style="z-index : 100"
                ng-touchend="onClickKeyClose()"></div>
            <div style="text-align: center"><input id="input_operating" type="text" placeholder="hh:mm ~ hh:mm"/></div>
            <div class="demo-key_ct flex">
                <div class="demo-key">1</div>
                <div class="demo-key">2</div>
                <div class="demo-key">3</div>
                <div class="demo-key demo-key_clear">CLR</div>
            </div>
            <div class="demo-key_ct flex">
                <div class="demo-key">4</div>
                <div class="demo-key">5</div>
                <div class="demo-key">6</div>
                <div class="demo-key">0</div>
            </div>
            <div class="demo-key_ct flex">
                <div class="demo-key">7</div>
                <div class="demo-key">8</div>
                <div class="demo-key">9</div>
                <div class="demo-key demo-key_enter">Enter</div>
            </div>
        </div>
        <div class="input_popup abs" ng-show="show_keyboard_charging">
            <div class="secure_top_text font_bold">{{getLang("TEXT/CONSOLE/CHARGING_TIME_SETTING_TITLE")}}</div>
            <div
                class="top_close abs"
                style="z-index : 100"
                ng-touchend="onClickKeyClose()"></div>
            <div style="text-align: center"><input id="input_charging" type="text" placeholder="hh:mm ~ hh:mm"/></div>
            <div class="demo-key_ct flex">
                <div class="demo-key">1</div>
                <div class="demo-key">2</div>
                <div class="demo-key">3</div>
                <div class="demo-key demo-key_clear">CLR</div>
            </div>
            <div class="demo-key_ct flex">
                <div class="demo-key">4</div>
                <div class="demo-key">5</div>
                <div class="demo-key">6</div>
                <div class="demo-key">0</div>
            </div>
            <div class="demo-key_ct flex">
                <div class="demo-key">7</div>
                <div class="demo-key">8</div>
                <div class="demo-key">9</div>
                <div class="demo-key demo-key_enter">Enter</div>
            </div>
        </div>
        <div id="demo-menu" ng-show="view_mode=='menu'">
            <div class="top_ct flex">
                <div class="top_text font_bold">{{getLang("TEXT/CONSOLE/MENU_ADMIN_TITLE")}}</div>
            </div>
            <div class="bottom_ct flex">
                <div class="left_ct flex_vertical">
                    <div
                        class="left_menu_ct flex"
                        ng-class="{'left_menu_ct_selected' : currentMenu === 0}"
                        ng-touchend="onClickLeftMenu(0)">
                        <span class="font_bold" ng-class="{left_menu_text_selected : currentMenu == 0}">상태<br>(General)</span></div>
                    <div
                        class="left_menu_ct flex"
                        ng-class="{'left_menu_ct_selected' : currentMenu == 1}"
                        ng-touchend="onClickLeftMenu(1)">
                        <span class="font_bold" ng-class="{left_menu_text_selected : currentMenu == 1}">설정<br>(Setting)</span></div>
                    <div
                        class="left_menu_ct flex"
                        ng-class="{left_menu_ct_selected : currentMenu == 3}"
                        ng-touchend="onClickLeftMenu(3)">
                        <span class="font_bold" ng-class="{left_menu_text_selected : currentMenu == 3}">임무<br>(Mission)</span></div>
                </div>
                <div class="main_ct" ng-show="currentMenu==0">
                    <div class="main_menu_ct flex">
                        <div class="text_ct">
                            <div class="text_main font_bold" ng-disabled="loc_fault">{{getLang("TEXT/CONSOLE/SERVICE_CONTROL_TITLE")}}</div>
                            <div class="text_sub">{{getLang("TEXT/CONSOLE/SERVICE_CONTROL_SUB_TITLE")}}</div>
                        </div>
                        <div
                            class="main_menu_btn center_vertical font_bold"
                            ng-touchend="onClickServiceStart()">Start</div>
                    </div>
                    <div class="main_menu_ct flex">
                        <div class="text_ct">
                            <div
                                class="text_main font_bold"
                                ng-class="{text_main_warning : loc_fault == true}">{{getLang("TEXT/CONSOLE/LOCATION_CONTROL_TITLE")}}</div>
                            <div class="text_sub" ng-class="{text_sub_warning : loc_fault == true}">{{getLang("TEXT/CONSOLE/LOCATION_CONTROL_SUB_TITLE")}}</div>
                        </div>
                        <div
                            class="main_menu_btn_chevron center_vertical"
                            ng-touchend="onClickLocationControl()"></div>
                    </div>
                    <div class="main_menu_ct flex">
                        <div class="text_ct">
                            <div class="text_main font_bold">{{getLang("TEXT/CONSOLE/BATTERY_INFO_TITLE")}}</div>
                            <div class="text_sub">{{getLang("TEXT/CONSOLE/BATTERY_INFO_SUB_TITLE")}}</div>
                        </div>
                        <div
                            class="main_menu_btn_chevron center_vertical"
                            ng-touchend="onClickDetail(0,'battery')"></div>
                    </div>
                    <div class="main_menu_ct flex">
                        <div class="text_ct">
                            <div class="text_main font_bold">{{getLang("TEXT/CONSOLE/NETWORK_INFO_TITLE")}}</div>
                            <div class="text_sub">{{getLang("TEXT/CONSOLE/NETWORK_INFO_SUB_TITLE")}}</div>
                        </div>
                        <div
                            class="main_menu_btn_chevron center_vertical"
                            ng-touchend="onClickDetail(0, 'network')"></div>
                    </div>
                    <div class="main_menu_ct flex">
                        <div class="text_ct">
                            <div class="text_main font_bold">{{getLang("TEXT/CONSOLE/DEVICE_TEST_TITLE")}}</div>
                            <div class="text_sub">{{getLang("TEXT/CONSOLE/DEVICE_TEST_SUB_TITLE")}}</div>
                        </div>
                        <div
                            class="main_menu_btn_chevron center_vertical"
                            ng-touchend="onClickDetail(0, 'unittest')"></div>
                    </div>
                    <div class="main_menu_ct flex" ng-show="remote_type == 'master'">
                        <div class="text_ct">
                            <div class="text_main font_bold">{{getLang("TEXT/CONSOLE/MENUAL_CONTROL_TITLE")}}</div>
                            <div class="text_sub">{{driving_mode_failed == null ?  '조이스틱으로 로봇 이동을 조작합니다. ' : driving_mode_failed}}</div>
                        </div>
                        <div
                            class="flex"
                            style="justify-content: flex-end; margin-right: 16px; flex-grow:1">
                            <div
                                class="main_menu_btn center_vertical font_bold"
                                style="margin-left :16px;"
                                ng-show="driving_mode == 'auto'"
                                ng-touchend="onClickManualStart()">START</div>
                            <div
                                class="main_menu_btn center_vertical font_bold"
                                style="margin-left :16px;"
                                ng-show="driving_mode == 'manual'"
                                ng-touchend="onClickManualStop()">STOP</div>
                        </div>
                    </div>
                </div>
                <div class="main_ct" ng-show="currentMenu==1">
                    <div class="main_menu_ct flex" style="border-bottom:none">
                        <div class="text_ct">
                            <div class="text_main font_bold" ng-disabled="loc_fault">{{getLang("TEXT/CONSOLE/SERVICE_SCHEDULE_TITLE")}}</div>
                            <div class="text_sub">{{getLang("TEXT/CONSOLE/SERVICE_SCHEDULE_SUB_TITLE")}}</div>
                        </div>
                        <div
                            class="main_menu_btn center_vertical font_bold"
                            ng-touchend="onRefreshSchedule()">Refresh</div>
                    </div>
                    <div class="schedule_ct flex_horizontal" style="padding : 0px 48px">
                        <div class="text_sub font_bold" style="flex: 1;">시간</div>
                        <div class="text_sub font_bold" style="flex: 1;">로케이션</div>
                    </div>
                    <div
                        class="schedule_ct flex_horizontal"
                        style="padding : 0px 48px"
                        ng-repeat="item in schedule_list track by $index">
                        <div class="text_sub" style="flex: 1;">{{item.start_time.substring(0,5) + ' - ' + item.end_time.substring(0,5)}}</div>
                        <div class="text_sub" style="flex: 1;">{{item.mode.location}}</div>
                    </div>
                    <div class="main_menu_ct main_menu_ct_volume flex flex_column">
                        <div class="flex">
                            <div class="text_ct">
                                <div class="text_main font_bold">{{getLang("TEXT/CONSOLE/VOLUME_SETTING_TITLE")}}</div>
                                <div class="text_sub">{{getLang("TEXT/CONSOLE/VOLUME_SETTING_SUB_TITLE")}}</div>
                            </div>
                        </div>
                        <div class="flex_horizontal">
                            <div class="volume_text font_bold" id="volume_text">{{volume}}%</div>
                            <div
                                class="main_menu_btn center_vertical font_bold"
                                ng-touchend="onSaveVolume()"
                                ng-value="volume">Save</div>
                        </div>
                        <div class="rangeslider-wrap"><input
                            class="slider"
                            id="volume_slider"
                            type="range"
                            min="0"
                            max="100"
                            step="10"/></div>
                    </div>
                </div>
                <div class="main_ct" ng-show="currentMenu==2">
                    <div class="main_menu_ct flex">
                        <div class="text_ct">
                            <div class="text_main font_bold">{{getLang("TEXT/CONSOLE/MAPPING_TITLE")}}</div>
                            <div class="text_sub">{{getLang("TEXT/CONSOLE/MAPPING_SUB_TITLE")}}</div>
                        </div>
                        <div
                            class="main_menu_btn center_vertical font_bold"
                            ng-show="!mapping_mode"
                            ng-touchend="onStartMapping()">Start</div>
                        <div
                            class="main_menu_btn center_vertical font_bold"
                            ng-show="mapping_mode"
                            ng-touchend="onStopMapping()">Done</div>
                    </div>
                    <div class="main_menu_ct flex">
                        <div class="text_ct">
                            <div class="text_main font_bold">{{getLang("TEXT/CONSOLE/MAP_LIST_TITLE")}}</div>
                            <div class="text_sub">{{getLang("TEXT/CONSOLE/MAP_LIST_SUB_TITLE")}}</div>
                        </div>
                        <div
                            class="main_menu_btn_chevron center_vertical"
                            ng-touchend="onClickDetail(0,'map_list')"></div>
                    </div>
                </div>
                <div class="main_ct" ng-show="currentMenu==3">
                    <div class="mission_ct flex_vertical">
                        <div class="text_ct">
                            <div class="text_main font_bold">{{getLang("TEXT/CONSOLE/SERVICE_LOCATION_TITLE")}}</div>
                            <div class="text_sub">{{getLang("TEXT/CONSOLE/SERVICE_LOCATION_SUB_TITLE")}}</div>
                        </div>
                        <div class="loc_ct flex_horizontal">
                            <div class="flex_vertical">
                                <div class="text_main">터미널</div>
                                <div class="text_main">
                                    <b>{{robot_terminal}}</b>
                                </div>
                            </div>
                            <div class="flex_vertical">
                                <div class="text_main">존
                                </div>
                                <div class="text_main">
                                    <b>{{robot_zone}}</b>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mission_ct flex_vertical" ng-show="service_mode==0">
                        <div
                            class="flex_horizontal"
                            style="justify-content: space-between; align-contents: center;">
                            <div class="flex_vertical">
                                <div class="text_main font_bold">{{getLang("TEXT/CONSOLE/SERVICE_RUN_TIME_TITLE")}}</div>
                                <div class="text_sub">{{getLang("TEXT/CONSOLE/SERVICE_RUN_TIME_SUB_TITLE")}}</div>
                            </div>
                            <div class="flex_horizontal">
                                <div class="volume_text font_bold" id="volume_text">{{service_runtime}}분</div>
                                <div
                                    class="main_menu_btn center_vertical font_bold"
                                    ng-touchend="onSaveServiceRuntime()"
                                    ng-value="service_runtime">Save</div>
                            </div>
                        </div>
                        <div class="flex_vertical irs_theme"><input
                            class="js-range-slider"
                            id="runtime_slider"
                            type="text"
                            name="my_range"
                            value=""/></div>
                    </div>
                    <div class="mission_ct flex_vertical" ng-show="service_mode==0">
                        <div
                            class="flex_horizontal"
                            style="justify-content: space-between; align-contents: center;">
                            <div class="flex_vertical">
                                <div class="text_main font_bold">{{getLang("TEXT/CONSOLE/OFFSET_TITLE")}}</div>
                                <div class="text_sub">{{getLang("TEXT/CONSOLE/OFFSET_SUB_TITLE")}}</div>
                            </div>
                            <div class="flex_horizontal">
                                <div class="volume_text font_bold" id="volume_text">{{time_offset_prev}}분
                                    {{time_offset_next}}분</div>
                                <div
                                    class="main_menu_btn center_vertical font_bold"
                                    ng-touchend="onSaveOffset()">Save</div>
                            </div>
                        </div>
                        <div class="flex_vertical irs_theme"><input
                            class="js-range-slider"
                            id="slider"
                            type="text"
                            name="my_range"
                            value=""/></div>
                    </div>
                    <div class="mission_ct flex_vertical">
                        <div class="text_main font_bold">{{getLang("TEXT/CONSOLE/SERVICE_MODE_TITLE")}}</div>
                        <div class="text_sub">{{getLang("TEXT/CONSOLE/SERVICE_MODE_SUB_TITLE")}}</div>
                        <div class="flex_horizontal">
                            <div class="flex_vertical">
                                <div class="text_main">종료 시간</div>
                                <div class="text_main" style="padding-top: 30px;" ng-show="service_mode==0">실행 지역(Gate)</div>
                                <div class="text_main" style="padding-top: 30px;" ng-show="service_mode==1">실행 지역(Location)</div>
                            </div>
                            <div class="flex_vertical" style="margin-left: 40px;">
                                <div class="flex_horizontal">
                                    <select
                                        class="selectbox_style"
                                        id="hour_select"
                                        ng-touchend="makeHourSelectBox()">
                                        <option value="none">{{ immediate_mission_schedule_hour }}</option>
                                    </select>
                                    <div class="text_sub">시</div>
                                    <select
                                        class="selectbox_style"
                                        id="minute_select"
                                        ng-touchend="makeMinuteSelectBox()">
                                        <option value="none">{{ immediate_mission_schedule_minute }}</option>
                                    </select>
                                    <div class="text_sub">분</div>
                                </div>
                                <select
                                    class="selectbox_style"
                                    id="gate_select"
                                    style="width: 150px; margin-top: 10px;"
                                    ng-show="service_mode==0"
                                    ng-touchend="makeGateSelectBox()">
                                    <option value="none">230</option>
                                </select>
                                <select
                                    class="selectbox_style"
                                    id="location_select"
                                    style="width: 150px; margin-top: 10px;"
                                    ng-show="service_mode==1"
                                    ng-touchend="makeLocationSelectBox()">
                                    <option value="none">W_101</option>
                                </select>
                            </div>
                            <div
                                class="main_menu_btn"
                                style="margin-left:auto;"
                                ng-show="immediate_mission_schedule_canceled == true"
                                ng-touchend="write_schedule()">즉시 실행</div>
                            <div
                                class="main_menu_btn"
                                style="margin-left:auto;"
                                ng-show="immediate_mission_schedule_canceled == false"
                                ng-touchend="cancel_schedule()">취소</div>
                        </div>
                        <div class="flex_horizontal" ng-show="service_mode==0">
                            <div class="flex_vertical">
                                <div class="text_sub" style="color: red">{{getLang("TEXT/CONSOLE/SERVICE_MODE_SUB_TITLE2")}}</div>
                                <div class="text_sub" style="color: red">{{getLang("TEXT/CONSOLE/SERVICE_MODE_SUB_TITLE3")}}</div>
                                <div class="text_sub" style="color: red">{{getLang("TEXT/CONSOLE/SERVICE_MODE_SUB_TITLE4")}}</div>
                                <div class="text_sub" style="color: red">{{getLang("TEXT/CONSOLE/SERVICE_MODE_SUB_TITLE5")}}</div>
                                <div class="text_sub" style="color: red">{{getLang("TEXT/CONSOLE/SERVICE_MODE_SUB_TITLE6")}}</div>
                            </div>
                        </div>
                        <div class="flex_horizontal" ng-show="service_mode==1">
                            <div class="flex_vertical">
                                <div class="text_sub" style="color: red">{{getLang("TEXT/CONSOLE/SERVICE_MODE_SUB_TITLE2_2")}}</div>
                                <div class="text_sub" style="color: red">{{getLang("TEXT/CONSOLE/SERVICE_MODE_SUB_TITLE3")}}</div>
                                <div class="text_sub" style="color: red">{{getLang("TEXT/CONSOLE/SERVICE_MODE_SUB_TITLE4")}}</div>
                                <div class="text_sub" style="color: red">{{getLang("TEXT/CONSOLE/SERVICE_MODE_SUB_TITLE5")}}</div>
                                <div class="text_sub" style="color: red">{{getLang("TEXT/CONSOLE/SERVICE_MODE_SUB_TITLE6")}}</div>
                            </div>
                        </div>
                    </div>
                    <div class="mission_ct flex">
                        <div class="text_ct">
                            <div class="text_main font_bold">{{getLang("TEXT/CONSOLE/MODE_CHANGE_TITLE")}}</div>
                            <div class="text_sub">현재 서비스 모드는
                                <b>{{service_mode_name}}</b>
                                입니다.</div>
                        </div>
                        <div
                            class="main_menu_btn center_vertical font_bold"
                            ng-touchend="showRestartPopup()">Mode 바꾸기</div>
                    </div>
                </div>
            </div>
        </div>
        <div
            class="popup_container abs"
            id="popup_noti_mapping_finish"
            style="display:none;">
            <div class="popup_ct">
                <div class="popup_text_main font_bold">{{getLang("TEXT/CONSOLE/MAPPING_END_TITLE")}}</div>
                <div class="popup_text_sub">
                    <div style="text-align:left;">{{getLang("TEXT/CONSOLE/MAPPING_END_TITLE")}}</div>
                    <div style="text-align:left;">{{getLang("TEXT/CONSOLE/MAPPING_END_SUB_TITLE1")}}</div>
                    <div style="text-align:left;">{{getLang("TEXT/CONSOLE/MAPPING_END_SUB_TITLE2")}}</div>
                </div>
                <div class="popup_btn_ct flex">
                    <div
                        class="popup_btn_cancel font_bold"
                        style="width: 460px;"
                        ng-touchend="onRecoveryOldMap()">Save&Return original Map</div>
                    <div
                        class="popup_btn_ok font_bold"
                        ng-touchend="onHidePopupNotiMappingFinish()">Save Only</div>
                </div>
            </div>
        </div>
        <div class="popup_container abs" ng-show="popup_restart_visible">
            <div class="popup_ct" style="width: 1024px;">
                <div class="popup_btn_ct flex">
                    <div
                        class="popup_btn_change_inspection font_bold"
                        ng-touchend="changeServiceMode(0)">감시모드</div>
                    <div
                        class="popup_btn_change_quarantine font_bold"
                        ng-touchend="changeServiceMode(1)">방역모드</div>
                </div>
            </div>
        </div>
        <div
            id="demo-set-area"
            data-ng-controller="RobotInitPos"
            ng-show="view_mode=='map'">
            <div class="flex" id="map_top_ct">
                <div class="abs" id="map_top_close" ng-touchend="onClickMapClose()"></div>
                <div class="center_vertical font_bold" id="map_top_text">{{getLang("TEXT/CONSOLE/LOCATION_CONTROL_TITLE2")}}</div>
            </div>
            <div class="flex abs" id="map_main_ct">
                <div id="map_map_ct">
                    <div class="flex" id="map_loc_ct">
                        <div class="map_loc_text font_bold" id="pos_x">x :
                            {{pos.x}},
                        </div>
                        <div class="map_loc_text font_bold" id="pos_y">y :
                            {{pos.y}},</div>
                        <div class="map_loc_text font_bold" id="pos_z">z :
                            {{pos.z}},</div>
                        <div class="map_loc_text font_bold" id="pos_angle">a :
                            {{pos.angle}}
                            /</div>
                        <div class="map_loc_text font_bold" id="pos_ox">ox :
                            {{pos.ox}},</div>
                        <div class="map_loc_text font_bold" id="pos_oy">oy :
                            {{pos.oy}},</div>
                        <div class="map_loc_text font_bold" id="pos_oz">oz :
                            {{pos.oz}},</div>
                        <div class="map_loc_text font_bold" id="pos_ow">ow :
                            {{pos.ow}}</div>
                    </div>
                    <div class="map-box">
                        <div class="map">
                            <canvas
                                id="map"
                                width="1536"
                                height="956"
                                style="background-color: var(--grey-8);"></canvas>
                            <div class="map abs robot-position" data-ng-style="robot.style">
                                <div class="abs robot-point"></div>
                                <div class="abs robot-angle" data-ng-style="robot.angle.style"></div>
                            </div>
                            <div class="map abs approach-position" data-ng-style="charging_style">
                                <div class="abs approach-point"></div>
                                <div class="abs approach-angle" data-ng-style="charging.angle.style"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="map_right_ct">
                    <div class="flex_horizontal" id="map_mode_selector">
                        <div
                            class="map_mode_button flex_horizontal"
                            ng-class="{'map_mode_selected' : map_mode == 'normal', 'not_yet' : is_demo_setting &amp;&amp; !set_check.set_initial }"
                            ng-click="setMapMode('normal')">General</div>
                        <div
                            class="map_mode_button flex_horizontal"
                            ng-class="{'map_mode_selected' : map_mode == 'charging', 'not_yet' : is_demo_setting &amp;&amp; !set_check.set_charging}"
                            ng-click="setMapMode('charging')">Chager POI</div>
                    </div>
                    <div id="map_func_ct" ng-show="map_mode == 'normal'">
                        <div class="map_func_text font_bold">Zoom</div>
                        <div class="flex" style="margin-bottom:40px">
                            <div class="map_zoom_btn" id="map_zoom_in" ng-click="onZoomIn()"></div>
                            <div class="map_zoom_btn" id="map_zoom_out" ng-click="onZoomOut()"></div>
                        </div>
                        <div
                            class="map_func_btn flex_vertical font_bold"
                            ng-class="{'map_func_btn_active' : in_moveto === true}"
                            ng-click="in_moveto == true ? onSetMoveCancel() : onSetMove()"
                            ng-bind-html="in_moveto ? '이동 명령 취소' : '이동 명령 &lt;br&gt; Move command ' | newline"></div>
                        <div
                            class="map_func_btn flex_vertical font_bold"
                            ng-class="{'map_func_btn_active' : in_posset === true}"
                            ng-click="in_posset == true ? onSetInitCancel() : onSetInit()"
                            ng-bind-html="in_posset ? '위치 설정 취소' : '위치 직접 설정 &lt;br&gt; Set location' | newline"></div>
                        <div
                            class="map_func_text font_bold"
                            style="font-size : 24px"
                            ng-bind-html="'위치 정보 지정 &lt;br&gt; Positioning and selection' | newline"></div>
                        <div id="map_locs_ct">
                            <div
                                class="map_locs_raw flex"
                                ng-repeat="item in init_poses track by $index"
                                ng-touchend="onInitPose(item)">
                                <div class="map_locs_icon center_vertical"></div>
                                <div class="map_locs_text font_bold">{{item.name}}</div>
                            </div>
                        </div>
                    </div>
                    <div id="map_func_charging_ct" ng-show="map_mode == 'charging'">
                        <div class="map_func_text font_bold">Zoom</div>
                        <div class="flex" style="margin-bottom:40px">
                            <div class="map_zoom_btn" id="map_zoom_in" ng-click="onZoomIn()"></div>
                            <div class="map_zoom_btn" id="map_zoom_out" ng-click="onZoomOut()"></div>
                        </div>
                        <div class="map_func_text font_bold">Charging Pose</div>
                        <div
                            class="map_func_btn flex_vertical font_bold"
                            ng-click="onSaveChargingPose()">Save</div>
                        <div class="map_func_text font_bold">Saved Pose</div>
                        <div class="map_charging_text font_bold">x :
                            {{ charging.position.x}}</div>
                        <div class="map_charging_text font_bold">y :
                            {{ charging.position.y}}</div>
                        <div class="map_charging_text font_bold">z :
                            {{ charging.position.z}}</div>
                        <div class="map_charging_text font_bold">orientation</div>
                        <div class="map_charging_text font_bold" style="margin-bottom: 32px">{{ '('  + charging.orientation.x + ', ' + charging.orientation.y + ', ' + charging.orientation.z + ', ' + charging.orientation.w + ')'}}</div>
                        <div
                            class="map_func_btn flex_vertical font_bold"
                            ng-click="onSetChargingPose()">Set Pose</div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>